In [2]:
import pandas as pd

/Users/kang/Untitled-100.ipynb

In [ ]:
with open('/Users/kang/Desktop/2017/20170705.data', 'r') as file:
    data = file.read()

In [4]:
!gunzip /Users/kang/Desktop/2017/20170705.csv.gz

In [3]:
!gunzip /Users/kang/Desktop/2017/20170706.csv.gz

In [5]:

import pandas as pd

# Load the CSV file into a pandas DataFrame
data = pd.read_csv("/Users/kang/Desktop/2017/20170705.csv")

# Now `data` is a DataFrame containing the data from the CSV file
data

,Unnamed: 0,ticker,open,high,low,close,volume,OPCL,pvCLCL,prevAdjClose,SPpvCLCL,sharesOut,PERMNO,SICCD,PERMCO,prevRawOpen,prevRawClose,prevAdjOpen
0,1,SPY,242.63,243.00999,241.700,242.77,54427596,0.000577,0.002312,242.21,0.001453,978982,84398,6726,46699,242.88,242.21001,242.88
1,2,IWM,141.70,141.85001,140.700,141.59,21865451,-0.000777,-0.003589,142.10,0.001453,267550,88222,6726,37493,141.34,142.10001,141.34
2,3,EEM,41.39,41.57000,41.185,41.55,49490955,0.003858,-0.001922,41.63,0.001453,780300,89730,6726,37493,41.62,41.63000,41.62
3,4,TLT,124.20,124.65000,124.115,124.49,11394834,0.002332,0.000241,124.46,0.001453,60500,89468,6726,37493,125.00,124.46000,125.00
4,5,USO,9.56,9.58000,9.230,9.25,68181979,-0.032964,-0.038462,9.62,0.001453,346100,91208,6221,50617,9.55,9.62000,9.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924,2925,ZTO,14.15,14.88000,14.150,14.67,2667647,0.036090,0.036017,14.16,0.001453,525306,16449,4215,55781,14.00,14.16000,14.00
2925,2926,ZTR,12.80,12.81000,12.720,12.72,116837,-0.006270,0.003946,12.67,0.001453,25673,75367,6726,21955,12.72,12.67000,12.72
2926,2927,ZTS,62.71,62.88000,62.335,62.55,3000331,-0.002555,-0.001915,62.67,0.001453,490797,13788,2834,54327,62.40,62.67000,62.40
2927,2928,ZX,1.65,1.83000,1.600,1.64,49708,-0.006079,-0.012048,1.66,0.001453,206440,12720,3312,53748,1.81,1.66000,1.82
2928,2929,ZYME,8.28,8.60690,8.280,8.48,6831,0.023867,0.024155,8.28,0.001453,24940,16668,8731,55912,8.40,8.28000,8.40

In [6]:
import pandas as pd

# Load the CSV file into a pandas DataFrame
data6 = pd.read_csv('/Users/kang/Desktop/2017/20170706.csv')
data5 = pd.read_csv('/Users/kang/Desktop/2017/20170705.csv')

# Now `data` is a DataFrame containing the data from the CSV file

In [7]:
data[data.ticker=='A']

Empty DataFrame
Columns: [Unnamed: 0, ticker, open, high, low, close, volume, OPCL, pvCLCL, prevAdjClose, SPpvCLCL, sharesOut, PERMNO, SICCD, PERMCO, prevRawOpen, prevRawClose, prevAdjOpen]
Index: []

In [ ]:
data

mihai

In [11]:
import pandas as pd
df = pd.read_csv("~/AAP_2017-07-05_24900000_57900000_message_10.csv",header=None)
df.columns = ['time','type','price','qty','orderid','side','remark']

In [12]:
df

               time  type      price  qty     orderid  side remark
0      25200.236312     1    2518417  100         100     1   MZHO
1      25200.236315     1    2518421  100  1999999900    -1   MZHO
2      28805.201858     1    3635385   25     1300000    -1    NaN
3      28805.209164     1    3635393   10     1859500    -1    NaN
4      28805.213655     1    3635405   75     1950000    -1    NaN
...             ...   ...        ...  ...         ...   ...    ...
93014  57662.536905     1  227171057   50     1300000    -1    NaN
93015  57721.216336     1  227214801   61     1266600    -1    NaN
93016  57721.242143     1  227215117   18      965400     1    NaN
93017  57797.200428     1  227250057    1     1053400    -1    NaN
93018  57853.573340     1  227279789  200     1050100     1    NaN

[93019 rows x 7 columns]

In [ ]:
df[(df.type==3) or (df.type==4)]

In [ ]:
df[df.type==3 in (3,4)]

In [31]:
df[df.type==1].qty.sum()

4174946

In [25]:
df[df.type==4].qty.sum()

533858

In [26]:
df[df.type==5].qty.sum()

275108

In [28]:
df[df.type==6].qty.sum()

720

In [30]:
df[df.type==7].qty.sum()

0

In [29]:
df[df.type==4].qty.sum()+df[df.type==5].qty.sum()

808966

In [33]:
df[df.type==4].qty.sum()+df[df.type==5].qty.sum()+df[df.type==6].qty.sum()

809686

In [32]:
df[df.type==4].qty.sum()+df[df.type==5].qty.sum()+df[df.type==1].qty.sum()+df[df.type==6].qty.sum()

4984632

In [45]:
df[df.type==1].qty.sum()+df[df.type==3].qty.sum()

7705769

In [46]:
df[df.type==4].qty.sum()+df[df.type==5].qty.sum()

808966

The volume in the open high low close volume dataset from Yahoo Finance represents the total number of shares traded in a security period

s the number of shares of the stock that were traded on that day. It is an important metric for investors to consider, as it can give insights into the liquidity of the stock and the level of interest in it from buyers and sellers.

```python
import yfinance as yf
data = yf.download("AAP", start=start_date, end=end_date)
data["Volume"]
```

7,348,683

In [35]:
pip install yfinance

Collecting yfinance
  Using cached yfinance-0.2.31-py2.py3-none-any.whl (65 kB)
Requirement already satisfied: pandas>=1.3.0 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from yfinance) (1.5.1)
Requirement already satisfied: numpy>=1.16.5 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from yfinance) (1.23.4)
Collecting requests>=2.31 (from yfinance)
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from yfinance) (1.4.4)
Collecting pytz>=2022.5 (from yfinance)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Using cached frozendict-2.3.8-cp39-cp39-macosx_11_0_arm64.whl (35 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Using cached peewee-3.17.0-cp39-cp39-macosx_11_0_arm64.whl
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from yfinance) (4.11.1)
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from requests>=2.31->yfinance) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/x/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2022.12.7)
Installing collected packages: pytz, peewee, multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2022.1
    Uninstalling pytz-2022.1:
      Successfully uninstalled pytz-2022.1
  Attempting uninstall: requests
    Found existing installation: requests 2.26.0
    Uninstalling requests-2.26.0:
      Successfully uninstalled requests-2.26.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.3.3 requires pyqt5<5.16, which is not installed.
spyder 5.3.3 requires pyqtwebengine<5.16, which is not installed.
stable-baselines3 1.7.0 requires gym==0.21, but you have gym 0.26.2 which is incompatible.
stable-baselines3 1.7.0 requires importlib-metadata~=4.13, but you have importlib-metadata 4.11.3 which is incompatible.
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 pytz-2023.3.post1 requests-2.28.2 yfinance-0.2.31

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [36]:
import yfinance as yf
data = yf.download("AAP", start="20170701", end="20170710")
data["Volume"]

Failed to get ticker 'AAP' reason: Expecting value: line 1 column 1 (char 0)

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAP']: Exception('%ticker%: No timezone found, symbol may be delisted')

Series([], Name: Volume, dtype: float64)

	Message File:		(Matrix of size: (Nx6))
	-------------	
			
	Name: 	TICKER_Year-Month-Day_StartTime_EndTime_message_LEVEL.csv 	
		
		StartTime and EndTime give the theoretical beginning 
		and end time of the output file in milliseconds after 		
		mid night. LEVEL refers to the number of levels of the 
		requested limit order book.


	Columns:
	
	    1.) Time: 		
				Seconds after midnight with decimal 
				precision of at least milliseconds 
				and up to nanoseconds depending on 
				the requested period
	    2.) Type:
				1: Submission of a new limit order
				2: Cancellation (Partial deletion 
				   of a limit order)
				3: Deletion (Total deletion of a limit order)
				4: Execution of a visible limit order			   	 
				5: Execution of a hidden limit order
				6: Indicates a cross trade, e.g. auction trade
				7: Trading halt indicator 				   
				   (Detailed information below)
	    3.) Order ID: 	
				Unique order reference number 
				(Assigned in order flow)
	    4.) Size: 		
				Number of shares
	    5.) Price: 		
				Dollar price times 10000 
				(i.e., A stock price of $91.14 is given 
				by 911400)
	    6.) Direction:
				-1: Sell limit order
				1: Buy limit order
				
				Note: 
				Execution of a sell (buy) limit
				order corresponds to a buyer (seller) 
				initiated trade, i.e. Buy (Sell) trade.

# Test r2 results from the R output

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_notional/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_notional/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst =[]
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    df["date"]=df.date.apply(lambda x: x[-5:])
    from sklearn.metrics import r2_score
    lst = []
    g=df.groupby("date")
    for idx, itm in g:
        r2=r2_score(itm["original"],itm["forecast_signal"])
        lst.append([idx,name[:-4],r2])
    dff=pd.DataFrame(lst,columns=["date","symbol","r2"])
    dfflst.append(dff)

In [ ]:
d = pd.concat(dfflst)

In [ ]:
f = pd.pivot(d,index="date",columns="symbol",values="r2")

In [ ]:
pd.options.display.max_columns = None

In [ ]:
pd.options.display.max_rows = None

In [ ]:
for itm in f.mean(axis=0):
    print(itm)

In [ ]:
for itm in f.mean(axis=1):
    print(itm)

In [ ]:
f.mean(axis=1).mean()

In [ ]:
f.mean(axis=0).mean()

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/2017daily_csv/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst =[]
i=0
# for i in range(len(onlyFiles)):
print(i)
name = onlyFiles[i]
import pandas as pd
# name ="CMS.csv"

dir = dir0+name
df = pd.read_csv(dir)
df.ticker.to_list()

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/data/01.1_raw/"
dir1 = "/homes/80/kang/2017daily_csv/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])

i=0
# for i in range(len(onlyFiles)):
print(i)
name = onlyFiles[i]
import pandas as pd
# name ="CMS.csv"

df0 = pd.read_pickle(dir0+name)
df1 = pd.read_csv(dir1+name)

# merge the shareOut data and convert into symbol

In [ ]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0 = "/homes/80/kang/cmem/data/01.1_raw/"
dir1 = "/homes/80/kang/2017daily_csv/"
onlyFiles = sorted([f for f in listdir(dir1) if isfile(join(dir1, f))])

i=0
lst =[]
# for i in range(len(onlyFiles)):
print(i)
name = onlyFiles[i]
df1 = pd.read_csv(dir1+name)
d1=df1[['date',"ticker", "volume", "sharesOut"]]
lst.append(d1)

In [ ]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0 = "/homes/80/kang/cmem/data/01.1_raw/"
dir1 = "/homes/80/kang/2017daily_csv/"
onlyFiles = sorted([f for f in listdir(dir1) if isfile(join(dir1, f))])

i=0
lst =[]
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    df1 = pd.read_csv(dir1+name)
    df1['date']=name[:-4]
    d1=df1[['date',"ticker", "volume", "sharesOut"]]
    lst.append(d1)
f=pd.concat(lst)

In [ ]:
mkdir /homes/80/kang/2017daily_aggregate/

In [ ]:
f.to_csv("/homes/80/kang/2017daily_aggregate/2017daily_aggregate.csv")
f.to_pickle("/homes/80/kang/2017daily_aggregate/2017daily_aggregate.pkl")

In [ ]:
f=pd.read_pickle("/homes/80/kang/2017daily_aggregate/2017daily_aggregate.pkl")

In [ ]:
g=f[[ "date", "ticker", "sharesOut"]]
h=g.pivot(columns="ticker",index="date",values="sharesOut")

In [ ]:
h.to_csv("/homes/80/kang/2017daily_aggregate/2017sharesOut.csv")
h.to_pickle("/homes/80/kang/2017daily_aggregate/2017sharesOut.pkl")

# Read the data and prepare for merging

In [ ]:
h=pd.read_pickle("/homes/80/kang/2017daily_aggregate/2017sharesOut.pkl")

In [ ]:
with open("/homes/80/kang/cmem/stock_names.txt") as f:
    lst=[itm.strip() for itm in f.readlines()]

In [ ]:
count =0
for itm in lst:
    if itm in df.ticker.to_list():
        count+=1
        print(itm)
# 384

In [ ]:
h = h[h.columns.intersection(lst)]

In [ ]:
sorted(h.columns.tolist()) == sorted(lst)

In [ ]:
h=h[sorted(h.columns)]

In [ ]:
l=h.dropna(axis=1)
# Out[33]: 
# ticker         AAL      AAP       ABBV       ABC     ABMD        ABT       ACN       ADI  ...        WY      XEC       XEL      XLB       XLE        XLF       XLI       XLK
# date                                                                                      ...                                                                               
# 20170103  507294.0  73654.0  1625099.0  220100.0  43508.0  1472310.0  622630.0  308171.0  ...  748058.0  94964.0  507953.0  73974.0  234074.0   971695.0  163576.0  293606.0
# 20170104  507294.0  73654.0  1625099.0  220100.0  43508.0  1472310.0  622630.0  308171.0  ...  748058.0  94964.0  507953.0  73974.0  234074.0   971695.0  163576.0  293606.0
# 20170105  507294.0  73654.0  1625099.0  220100.0  43508.0  1472310.0  622630.0  308171.0  ...  748058.0  94964.0  507953.0  73974.0  234074.0   971695.0  163576.0  293606.0
# 20170106  507294.0  73654.0  1625099.0  220100.0  43508.0  1472310.0  622630.0  308171.0  ...  748058.0  94964.0  507953.0  73974.0  234074.0   971695.0  163576.0  293606.0
# 20170109  507294.0  73654.0  1625099.0  220100.0  43508.0  1472310.0  622630.0  308171.0  ...  748058.0  94964.0  507953.0  73974.0  234074.0   971695.0  163576.0  293606.0
# ...            ...      ...        ...       ...      ...        ...       ...       ...  ...       ...      ...       ...      ...       ...        ...       ...       ...
# 20171222  478499.0  73898.0  1596430.0  218082.0  44216.0  1740601.0  614718.0  368636.0  ...  754829.0  95261.0  507763.0  75674.0  239824.0  1138345.0  174376.0  305106.0
# 20171226  478499.0  73898.0  1596430.0  218082.0  44216.0  1740601.0  614718.0  368636.0  ...  754829.0  95261.0  507763.0  75674.0  239824.0  1138345.0  174376.0  305106.0
# 20171227  478499.0  73898.0  1596430.0  218082.0  44216.0  1740601.0  614718.0  368636.0  ...  754829.0  95261.0  507763.0  75674.0  239824.0  1138345.0  174376.0  305106.0
# 20171228  478499.0  73898.0  1596430.0  218082.0  44216.0  1740601.0  614718.0  368636.0  ...  754829.0  95261.0  507763.0  75674.0  239824.0  1138345.0  174376.0  305106.0
# 20171229  475508.0  73898.0  1596430.0  218082.0  44272.0  1740601.0  642550.0  368636.0  ...  754829.0  95261.0  507763.0  81274.0  250524.0  1170545.0  165776.0  302156.0

# [251 rows x 384 columns]

In [ ]:
l.to_csv("/homes/80/kang/2017daily_aggregate/2017sharesOutCommon.csv")
l.to_pickle("/homes/80/kang/2017daily_aggregate/2017sharesOutCommon.pkl")

# Deal with the data

## read the data with sharesOut

In [4]:
l=pd.read_pickle("/homes/80/kang/2017daily_aggregate/2017sharesOutCommon.pkl")
l.index = pd.to_datetime(l.index)
date_filter = pd.Timestamp("2017-07-05")
l = l.loc[l.index >= date_filter]

### To read auxiliary data

In [31]:
l1 = l.reset_index()
l2 = pd.read_csv('/homes/80/kang/2017daily_aggregate/Wharton_Research_Data_Services_2017H2.csv')
l2['date'] = l2.Date.apply(pd.to_datetime)
l2.drop('Date', axis=1, inplace=True)
l3 = pd.merge(l1,l2,how='left',on='date')
l3 = l3.set_index('date')

In [35]:
l4 = l3[sorted(l3.columns)]
l4

,AAL,AAP,ABBV,ABC,ABMD,ABT,ACN,ADI,ADM,ADP,...,XEC,XEL,XLB,XLE,XLF,XLI,XLK,XLNX,XRAY,ZION
date,,,,,,,,,,,,,,,,,,,,,
2017-07-05,487662.0,73845.0,1591541.0,218356.0,44081.0,1735272.0,617986.0,367011.0,568357.0,445000.0,...,95109.0,507763.0,68074.0,244274.0,979645.0,160076.0,299856.0,248602,229300,202131
2017-07-06,487662.0,73845.0,1591541.0,218356.0,44081.0,1735272.0,617986.0,367011.0,568357.0,445000.0,...,95109.0,507763.0,68074.0,244274.0,979645.0,160076.0,299856.0,248602,229300,202131
2017-07-07,487662.0,73845.0,1591541.0,218356.0,44081.0,1735272.0,617986.0,367011.0,568357.0,445000.0,...,95109.0,507763.0,68074.0,244274.0,979645.0,160076.0,299856.0,248602,229300,202131
2017-07-10,487662.0,73845.0,1591541.0,218356.0,44081.0,1735272.0,617986.0,367011.0,568357.0,445000.0,...,95109.0,507763.0,68074.0,244274.0,979645.0,160076.0,299856.0,248602,229300,202131
2017-07-11,487662.0,73845.0,1591541.0,218356.0,44081.0,1735272.0,617986.0,367011.0,568357.0,445000.0,...,95109.0,507763.0,68074.0,244274.0,979645.0,160076.0,299856.0,248602,229300,202131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,478499.0,73898.0,1596430.0,218082.0,44216.0,1740601.0,614718.0,368636.0,559250.0,443490.0,...,95261.0,507763.0,75674.0,239824.0,1138345.0,174376.0,305106.0,250953,229683,199744
2017-12-26,478499.0,73898.0,1596430.0,218082.0,44216.0,1740601.0,614718.0,368636.0,559250.0,443490.0,...,95261.0,507763.0,75674.0,239824.0,1138345.0,174376.0,305106.0,250953,229683,199744
2017-12-27,478499.0,73898.0,1596430.0,218082.0,44216.0,1740601.0,614718.0,368636.0,559250.0,443490.0,...,95261.0,507763.0,75674.0,239824.0,1138345.0,174376.0,305106.0,250953,229683,199744
2017-12-28,478499.0,73898.0,1596430.0,218082.0,44216.0,1740601.0,614718.0,368636.0,559250.0,443490.0,...,95261.0,507763.0,75674.0,239824.0,1138345.0,174376.0,305106.0,250953,229683,199744
2017-12-29,475508.0,73898.0,1596430.0,218082.0,44272.0,1740601.0,642550.0,368636.0,559250.0,442700.0,...,95261.0,507763.0,81274.0,250524.0,1170545.0,165776.0,302156.0,254815,226800,197532

In [ ]:
mkdir /homes/80/kang/cmem/data/01.1_raw_fraction/

In [ ]:
cd /homes/80/kang/cmem/data/01.1_raw_fraction/
rm *

In [ ]:
mkdir /homes/80/kang/cmem/data_fraction/01.1_raw_fraction/

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/data/01.1_raw/"
dir1 = "/homes/80/kang/cmem/data_fraction/01.1_raw_fraction/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])

i=100
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    symbol = name[:-4]
    import pandas as pd
    # name ="CMS.csv"

    if symbol in l.columns.to_list():
        df = pd.read_pickle(dir0+name)
        dff=df.copy()
        dff.index = dff.index.strftime("%Y-%m-%d")
        df["sharesOut"] = l.loc[dff.index,symbol].values
        if df.sharesOut.isna().sum()!=df.shape[0]:
            print("saved")
            df['qty_fraction']=df.qty/df.sharesOut
            df.to_pickle(dir1+symbol+".pkl")
            df.to_csv(dir1+symbol+".csv")

ls | wc -l
768/2=384

# after getting the 01.1_raw, we need to convert into r_input

mkdir /homes/80/kang/cmem/data_fraction/02.2_data_r_input_kf_fraction

In [ ]:
path11 = '/homes/80/kang/cmem/data_fraction/01.1_raw_fraction/'
path12 = '/homes/80/kang/cmem/data_fraction/02.2_data_r_input_kf/'
import pandas as pd
import numpy as np
from os import listdir;from os.path import isfile,join
files = lambda path: sorted([f for f in listdir(path) if isfile(join(path,f)) and f[-3:]=='pkl'])
files11 = files(path11)
from tqdm import tqdm
for i in tqdm(range(len(files11))):
    name = files11[i][:-4]
    df = pd.read_pickle(path11+files11[i])
    resampled_df = df[['date','timeHMs','qty_fraction']]

    # Step 2: Pivot the DataFrame to get the desired format
    pivot_df = resampled_df.pivot_table(index=resampled_df.index.time, \
        columns=resampled_df.index.date, values='qty_fraction')
    # Step 3: Create a new DataFrame with formatted column names
    new_columns = [col.strftime('%Y-%m-%d') for col in pivot_df.columns]
    pivot_df.columns = new_columns

    # Step 4: Add the 'AM' or 'PM' label to the index
    pivot_df.index = [f'{t.strftime("%I:%M %p")}' for t in pivot_df.index]

    # Step 5: Save the DataFrame to a CSV file
    pivot_df.to_csv(path12 + name +".csv")

# Run r with /homes/80/kang/cmem/rkf.r

In [ ]:
mkdir /homes/80/kang/cmem/output/0400_r_kl_output_raw_data_fractional/

# Calc the R2 of the R Output

In [ ]:
cd /homes/80/kang/cmem/output/0400_r_kl_output_raw_data_fractional/

In [1]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_fractional/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst = []
import pandas as pd
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    df["date"]=df.date.apply(lambda x: x[-5:])
    from sklearn.metrics import r2_score
    lst = []
    g=df.groupby("date")
    for idx, itm in g:
        r2=r2_score(itm["original"],itm["forecast_signal"])
        lst.append([idx,name[:-4],r2])
    dff=pd.DataFrame(lst,columns=["date","symbol","r2"])
    dfflst.append(dff)

79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
f=pd.concat(dfflst)
h=f.pivot(index="date",columns="symbol",values="r2")
h['symbol_mean']=h.mean(axis=1)
h.loc['date_mean']=h.mean(axis=0)
h.to_csv("/homes/80/kang/cmem/0400_r_kl_output_fractional_r2.csv")

# The pipeline for max and min

## mkdir

In [ ]:
mkdir /homes/80/kang/cmem/data_minmax
mkdir /homes/80/kang/cmem/data_minmax/01.1_raw_minmax/

## Calc the minmax before converting into r_input csv

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/data/01.1_raw/"
dir1 = "/homes/80/kang/cmem/data_minmax/01.1_raw_minmax/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])

i=100
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    symbol = name[:-4]
    import pandas as pd
    # name ="CMS.csv"


    df = pd.read_pickle(dir0+name)
    df["qty_minmax"] = df.qty/df.qty.max()
    # df["qty_minmax"] = df.qty/(df.qty.max()-df.qty.min())
    # df["qty_minmax"] = (df.qty-df.qty.min())/(df.qty.max()-df.qty.min())
    
    df.to_pickle(dir1+symbol+".pkl")
    df.to_csv(dir1+symbol+".csv")

## After getting the 01.1_raw, we need to convert into r_input

mkdir /homes/80/kang/cmem/data_minmax/
mkdir /homes/80/kang/cmem/data_minmax/02.2_data_r_input_kf_minmax/

In [ ]:
path11 = '/homes/80/kang/cmem/data_minmax/01.1_raw_minmax/'
path12 = '/homes/80/kang/cmem/data_minmax/02.2_data_r_input_kf_minmax/'
import pandas as pd
import numpy as np
from os import listdir;from os.path import isfile,join
files = lambda path: sorted([f for f in listdir(path) if isfile(join(path,f)) and f[-3:]=='pkl'])
files11 = files(path11)
from tqdm import tqdm
for i in tqdm(range(len(files11))):
    name = files11[i][:-4]
    df = pd.read_pickle(path11+files11[i])
    resampled_df = df[['date','timeHMs','qty_minmax']]

    # Step 2: Pivot the DataFrame to get the desired format
    pivot_df = resampled_df.pivot_table(index=resampled_df.index.time, \
        columns=resampled_df.index.date, values='qty_minmax')
    # Step 3: Create a new DataFrame with formatted column names
    new_columns = [col.strftime('%Y-%m-%d') for col in pivot_df.columns]
    pivot_df.columns = new_columns

    # Step 4: Add the 'AM' or 'PM' label to the index
    pivot_df.index = [f'{t.strftime("%I:%M %p")}' for t in pivot_df.index]

    # Step 5: Save the DataFrame to a CSV file
    pivot_df.to_csv(path12 + name +".csv")

## Run r with /homes/80/kang/cmem/rkf.r

In [2]:
%%bash
mkdir /homes/80/kang/cmem/output/0400_r_kl_output_raw_data_minmax/
cd /homes/80/kang/cmem/output/0400_r_kl_output_raw_data_minmax/
ls | wc

mkdir: cannot create directory ‘/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_minmax/’: File exists

    472     472    3833

Rscript /homes/80/kang/cmem/rkf_fraction.r

# Calc the R2 of the R Output

In [4]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_minmax/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst = []
import pandas as pd
from tqdm import tqdm
for i in tqdm(range(len(onlyFiles))):
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    df["date"]=df.date.apply(lambda x: x[-5:])
    from sklearn.metrics import r2_score
    lst = []
    g=df.groupby("date")
    for idx, itm in g:
        r2=r2_score(itm["original"],itm["forecast_signal"])
        lst.append([idx,name[:-4],r2])
    dff=pd.DataFrame(lst,columns=["date","symbol","r2"])
    dfflst.append(dff)

f=pd.concat(dfflst)
h=f.pivot(index="date",columns="symbol",values="r2")
l=h.copy()
l['symbol_mean']=l.mean(axis=1)
l.loc['date_mean']=l.mean(axis=0)
l.to_csv("/homes/80/kang/cmem/0400_r_kl_output_minmax_r2.csv")
'r squred of the raw output from r_kl code with minmax applied', h.mean(axis=1).mean()

100%|██████████| 472/472 [00:22<00:00, 21.31it/s]

-0.054585366570237534

In [5]:
'r squred of the raw output from r_kl code with minmax applied', h.mean(axis=1).mean()

('r squred of the raw output from r_kl code with minmax applied',
 -0.054585366570237534)

# test the raw cmem output r2

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/06_r_output_raw_csv/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst = []
import pandas as pd
i=0
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    df.date = df.date.apply(lambda x:str(int(x)))
    from sklearn.metrics import r2_score
    lst = []
    g=df.groupby("date")
    for idx, itm in g:
        pass
        r2=r2_score(itm["turnover"],itm["x"])
        # r2=r2_score(itm["original"],itm["forecast_signal"])
        lst.append([idx,name[:-4],r2])
    dff=pd.DataFrame(lst,columns=["date","symbol","r2"])
    dfflst.append(dff)

f=pd.concat(dfflst)
h=f.pivot(index="date",columns="symbol",values="r2")
l=h.copy()
l['symbol_mean']=l.mean(axis=1)
l.loc['date_mean']=l.mean(axis=0)
# l.to_csv("/homes/80/kang/cmem/0400_r_kl_output_qty_r2.csv")
h.mean(axis=1).mean()

In [ ]:
l2 = pd.read_csv("/homes/80/kang/cmem/0400_r_kl_output_minmax_r2.csv")

In [ ]:
pd.set_option('display.max_columns', None)

SNA

pd.set_option('display.max_columns', 10)

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [ ]:
pd.set_option('display.width', 200)

In [ ]:
sna=pd.read_csv("/homes/80/kang/cmem/output/06_r_output_raw_csv/ACN.csv")
# sna=pd.read_csv("/homes/80/kang/cmem/output/06_r_output_raw_csv/SNA.csv")
df = sna[["date", "turnover", "x", "eta", "seas", "mu"]]
df['x'] = df['x'].apply(lambda x: f'{x:f}') 
df['eta'] = df['eta'].apply(lambda x: f'{x:f}')
df
import numpy as np
g=df.groupby("date")
lst=[]
for idx,itm in g:
    itm['sum_turnover']=itm.turnover.astype(np.float64).sum()
    itm['sum_x']=itm.x.astype(np.float64).sum()
    itm['sum_eta']=itm.eta.astype(np.float64).sum()
    lst.append(itm)
f=pd.concat(lst)
f.sum_tunover=f.sum_turnover.apply(lambda x: "{:,.2}".format(x)) 
f.sum_x=f.sum_x.apply(lambda x: "{:,.2}".format(x)) 
f.sum_eta=f.sum_eta.apply(lambda x: "{:,.2}".format(x)) 
f

# Error comes from the eps?

# Roll back to volume space

## read one test file from the r output of the fractional

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0400_r_kl_output_raw_data_fractional/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst = []
import pandas as pd
i=0
# for i in range(len(onlyFiles)):
print(i)
name = onlyFiles[i]
symbol=name[:-4]
import pandas as pd
# name ="CMS.csv"

dir = dir0+name
df = pd.read_csv(dir)
df["date"]=df.date.apply(lambda x: x[-5:])

## load the sharesOut data

### read the data with sharesOut

In [ ]:
l=pd.read_pickle("/homes/80/kang/2017daily_aggregate/2017sharesOutCommon.pkl")
l.index = pd.to_datetime(l.index)
date_filter = pd.Timestamp("2017-07-19")
l = l.loc[l.index >= date_filter]

### choose the common dates from the df of 0400_r_kl_output_raw_data_fractional

In [ ]:
df["date"] = df.date.apply(lambda x: "2017-" + x)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m.%d')

### merge the shareOut data into the r output df

In [ ]:
df['sharesOut']=l.loc[df.date,symbol].values

## roll back to the shares

In [ ]:
df['shares_forecast_signal']=df.forecast_signal*df.sharesOut
df['shares_original']=df.original*df.sharesOut

## calc r2 inside the df

In [ ]:
from sklearn.metrics import r2_score
lst = []
g=df.groupby("date")
for idx, itm in g:
    r2=r2_score(itm["shares_original"],itm["shares_forecast_signal"])
    lst.append([idx,r2])
dff=pd.DataFrame(lst,columns=["date","r2"])
dff['date'] = pd.to_datetime(dff['date'], format='%Y-%m.%d')

In [ ]:
dff=dff.set_index("date")
df['shares_r2']=dff.loc[df.date,:].values

### save the data into

In [ ]:
mkdir /homes/80/kang/cmem/output/0400_r_kl_output_raw_data_fractional_rollback2shares/

In [ ]:
mkdir /homes/80/kang/cmem/output/06_r_output_raw_csv_fractional_shares

In [ ]:
df.to_csv("")

# double check the r2 of the forecasted results 20th Nov

In [ ]:
dir0 = "/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"


not enough only 100 files

In [1]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
dfflst = []
import pandas as pd
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    df["date"]=df.date.apply(lambda x: x[-5:])
    from sklearn.metrics import r2_score
    lst = []
    g=df.groupby("date")
    for idx, itm in g:
        r2=r2_score(itm["turnover"],itm["x"])
        lst.append([idx,name[:-4],r2])
    dff=pd.DataFrame(lst,columns=["date","symbol","r2"])
    dfflst.append(dff)

# f=pd.concat(dfflst)
# h=f.pivot(index="date",columns="symbol",values="r2")
# l=h.copy()
# l['symbol_mean']=l.mean(axis=1)
# l.loc['date_mean']=l.mean(axis=0)
# l.to_csv("/homes/80/kang/cmem/0400_r_kl_output_minmax_r2.csv")
# h.mean(axis=1).mean()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
f=pd.concat(dfflst)
h=f.pivot(index="date",columns="symbol",values="r2")
l=h.copy()
l['symbol_mean']=l.mean(axis=1)
l.loc['date_mean']=l.mean(axis=0)
# l.to_csv("/homes/80/kang/cmem/0400_r_kl_output_minmax_r2.csv")
h.mean(axis=1).mean()

0.021412301419859055

In [4]:
h

symbol,AAL,AAP,ABBV,ABC,ABMD,ABT,ACN,ADI,ADM,ADP,...,D,DAL,DE,DFS,DG,DGX,DHI,DHR,DIS,DLR
date,,,,,,,,,,,,,,,,,,,,,
07-19,0.014199,-6.801090,0.247870,-0.172964,-0.087045,0.274500,0.128596,-0.081328,0.323082,0.531606,...,0.169562,0.229746,-0.097720,-0.288739,-1.187175,0.376028,-0.352205,0.465966,0.552911,0.452479
07-20,0.427293,0.170378,0.563051,0.228958,0.350195,-0.102148,0.530522,0.121794,-0.092148,0.613592,...,0.299303,0.560438,-0.015841,0.777054,0.754240,0.251699,-0.136688,-0.798676,0.640647,-0.117056
07-21,0.770575,0.039388,0.122846,-0.236189,-0.052644,0.701855,0.688684,0.581722,0.660483,0.610615,...,0.097465,0.550426,-0.287256,0.024722,0.673255,0.428962,-1.450900,0.277550,-0.495153,0.383909
07-24,0.053933,-1.032024,0.467327,-0.153104,-0.332997,0.114363,0.392451,0.471615,-0.366174,0.787673,...,0.558112,0.334920,-2.932759,0.802541,0.372111,0.199473,-27.079026,0.464662,0.623865,-0.489364
07-25,0.459733,0.432147,-0.092111,-0.527114,-0.125909,0.185407,-0.721255,-0.643472,0.653189,0.791541,...,0.180553,0.262327,0.680147,0.080733,-0.011913,-0.729295,0.353351,0.543225,0.344928,0.625301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12-20,0.196805,0.479094,-0.128386,0.529607,-0.550674,-0.111540,0.519626,0.725653,0.714257,0.377012,...,0.404034,0.114384,0.105237,0.052584,0.558842,-0.333177,0.565190,0.096304,0.874684,0.144849
12-21,0.002147,0.285070,-0.655038,0.370831,-0.179757,0.677937,-0.182507,0.811627,-0.531877,0.815868,...,0.821578,0.494726,0.516247,0.636643,-1.599987,0.124709,0.387940,0.287358,0.565492,-0.000163
12-22,0.361138,-0.465752,0.077886,-0.102785,0.321526,-0.038006,0.630334,-0.024963,-0.568540,0.426744,...,0.523135,0.221657,-0.013331,0.255218,0.023987,-0.767564,-0.060064,-0.255316,0.527530,-0.299406
12-26,0.506329,-0.582957,0.292825,-0.275390,-1.121638,0.581239,-0.652537,0.803545,-0.735976,0.142009,...,0.526656,-0.872472,0.152311,-2.287360,-0.884813,0.300385,-1.021438,-1.128864,0.164559,-1.435019
12-27,0.818637,-2.149123,-5.820882,-0.550651,0.419704,-0.553151,-0.081724,0.841451,-0.932674,-1.778030,...,-0.044496,0.123475,0.134955,0.555177,0.507438,0.054572,-1.276077,-0.272288,0.123477,0.048856

# save AAP x and turnover from the  
"/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"

In [5]:
!mkdir /homes/80/kang/cmem/output/0900_r_output_with_features_csv_fractional_shares_clipped_vwap/

In [2]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
len(onlyFiles)

100

In [53]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
import pandas as pd
# for i in range(len(onlyFiles)):
i=1
print(i)
name = onlyFiles[i]
import pandas as pd
# name ="CMS.csv"

dir = dir0+name
df = pd.read_csv(dir)
d=df[["date",'x','qty']]
d.x= d.x.shift(1)
d = d.fillna(method = "bfill")
d = d.iloc[26:,:].reset_index(drop=True)
dir1 = "/homes/80/kang/cmem/output/0900_r_output_with_features_csv_fractional_shares_clipped_vwap/"
d.to_csv(dir1+name)

1

/tmp/ipykernel_217895/4044677971.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

In [1]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/cmem/output/0600_r_output_with_features_csv_fractional_shares_clipped/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
import pandas as pd
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    import pandas as pd
    # name ="CMS.csv"

    dir = dir0+name
    df = pd.read_csv(dir)
    d=df[["date",'x','qty']]
    d.x= d.x.shift(1)
    d = d.fillna(method = "bfill")
    d = d.iloc[26:,:].reset_index(drop=True)
    dir1 = "/homes/80/kang/cmem/output/0900_r_output_with_features_csv_fractional_shares_clipped_vwap/"
    d.to_csv(dir1+name)

0

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

1
2
3

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

4
5
6

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

7
8
9

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

10
11
12

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

13
14
15

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

16
17
18

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

19
20

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

21
22

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

23
24
25

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

26
27

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

28
29

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

30
31
32

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

33
34
35

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

36
37
38

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

39
40
41

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

42
43
44

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

45
46
47

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

48
49
50

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

51
52

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

53
54

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

55
56
57

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

58
59
60

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

61
62

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

63
64
65

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

66
67

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

68
69

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

70
71
72

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

73
74

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

75
76

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

77
78
79

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

80
81
82

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

83
84
85

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

86
87
88

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

89
90
91

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

92
93

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

94
95
96

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

97
98
99

/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)
/tmp/ipykernel_4019564/1696335384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.x= d.x.shift(1)

In [54]:
d

            date             x      qty
0     2017-07-20  24303.784933  24753.0
1     2017-07-20  30714.854074   4838.0
2     2017-07-20  18648.823793   7951.0
3     2017-07-20  13211.108010  12768.5
4     2017-07-20  17209.798094   7367.5
...          ...           ...      ...
2829  2017-12-27  11882.649251  11558.0
2830  2017-12-27  19078.593302  12030.5
2831  2017-12-27  20343.002463   8164.5
2832  2017-12-27  18541.611194  13315.5
2833  2017-12-27  30644.778081  13748.5

[2834 rows x 3 columns]

In [55]:
!mkdir /homes/80/kang/aap2017half/

In [56]:
!mkdir /homes/80/kang/aap2017half/data/

In [57]:
!mkdir /homes/80/kang/aap2017half/data/Flow_10
!mkdir /homes/80/kang/aap2017half/data/Book_10

In [ ]:
from os import listdir
from os.path import isfile, join
dir0 = "/homes/80/kang/aap2017/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
import pandas as pd
# for i in range(len(onlyFiles)):
i=1
print(i)
name = onlyFiles[i]
import pandas as pd

# rolling mean of 15 min

In [3]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0= "/homes/80/kang/cmem/data/01_raw/"
dir1= "/homes/80/kang/cmem/data/01_raw_rolling_mean_15min_bin/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])

In [5]:
name = 'ABMD.pkl'
df = pd.read_pickle(dir0+name)

In [8]:
d = df[['symbol','date','timeHMs','timeHMe','qty']]
d

                    symbol      date  timeHMs  timeHMe      qty
groupper
2017-07-05 09:30:00   ABMD  20170705    930.0    945.0   9650.0
2017-07-05 09:45:00   ABMD  20170705    945.0   1000.0   5175.5
2017-07-05 10:00:00   ABMD  20170705   1000.0   1015.0   5476.5
2017-07-05 10:15:00   ABMD  20170705   1015.0   1030.0   6247.0
2017-07-05 10:30:00   ABMD  20170705   1030.0   1045.0   9804.0
...                    ...       ...      ...      ...      ...
2017-12-29 14:30:00   ABMD  20171229   1430.0   1445.0  12862.5
2017-12-29 14:45:00   ABMD  20171229   1445.0   1500.0   8728.5
2017-12-29 15:00:00   ABMD  20171229   1500.0   1515.0   7179.0
2017-12-29 15:15:00   ABMD  20171229   1515.0   1530.0   9424.5
2017-12-29 15:30:00   ABMD  20171229   1530.0   1545.0  10603.0

[3223 rows x 5 columns]

In [25]:
name = 'ABMD.pkl'
df = pd.read_pickle(dir0+name)
d = df[['date','timeHMs','timeHMe','qty']]
g = d.groupby('timeHMs')
lst = []
for idx, itm in g:
    pass
    value = itm.shift(1).rolling(5).mean()
    # itm.shift(-1).rolling(5).mean()
    value.date = itm.date
    lst.append(value)
# itm.qty[:5].mean()
f = pd.concat(lst,axis=0)
ff = f.sort_index().dropna()
ff['symbol'] = name[:-4]
ff.to_csv(dir1+name[:-4]+".csv")

In [24]:
name = 'AAP.pkl'
df = pd.read_pickle(dir0+name)
d = df[[,'date','timeHMs','timeHMe','qty']]
d.symbol
g = d.groupby('timeHMs')
lst = []
for idx, itm in g:
    pass
    value = itm.shift(1).rolling(5).mean()
    # itm.shift(-1).rolling(5).mean()
    value.date = itm.date
    lst.append(value)
f = pd.concat(lst,axis=0)
f

/tmp/ipykernel_4019564/1086770512.py:9: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

                         date  timeHMs  timeHMe      qty
groupper
2017-07-05 09:30:00  20170705      NaN      NaN      NaN
2017-07-06 09:30:00  20170706      NaN      NaN      NaN
2017-07-07 09:30:00  20170707      NaN      NaN      NaN
2017-07-10 09:30:00  20170710      NaN      NaN      NaN
2017-07-11 09:30:00  20170711      NaN      NaN      NaN
...                       ...      ...      ...      ...
2017-12-21 15:45:00  20171221   1545.0   1600.0  28487.5
2017-12-22 15:45:00  20171222   1545.0   1600.0  28387.4
2017-12-26 15:45:00  20171226   1545.0   1600.0  24563.1
2017-12-27 15:45:00  20171227   1545.0   1600.0  21793.5
2017-12-28 15:45:00  20171228   1545.0   1600.0  20715.3

[3223 rows x 4 columns]

In [22]:
name = 'ABMD.pkl'
df = pd.read_pickle(dir0+name)
d = df[['symbol','date','timeHMs','timeHMe','qty']]
d.symbol
# g = d.groupby('timeHMs')
# lst = []
# for idx, itm in g:
#     pass
#     value = itm.shift(1).rolling(5).mean()
#     # itm.shift(-1).rolling(5).mean()
#     value.date = itm.date
#     lst.append(value)
# f = pd.concat(lst,axis=0)
# f

groupper
2017-07-05 09:30:00    ABMD
2017-07-05 09:45:00    ABMD
2017-07-05 10:00:00    ABMD
2017-07-05 10:15:00    ABMD
2017-07-05 10:30:00    ABMD
                       ...
2017-12-29 14:30:00    ABMD
2017-12-29 14:45:00    ABMD
2017-12-29 15:00:00    ABMD
2017-12-29 15:15:00    ABMD
2017-12-29 15:30:00    ABMD
Name: symbol, Length: 3223, dtype: object

In [7]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0= "/homes/80/kang/cmem/data/01_raw/"
df = pd.read_pickle(dir0+'GPN.pkl')
d = df[['symbol','date','timeHMs','timeHMe','qty']]
g = d.groupby('timeHMs')
lst = []
for idx, itm in g:
    pass
    value = itm.shift(1).rolling(5).mean()
    # itm.shift(-1).rolling(5).mean()
    value.date = itm.date
    lst.append(value)
f = pd.concat(lst,axis=0)
f['symbol'] = 'GPN'
ff = f.sort_index().dropna()
# ff.to_csv(dir1+name[:-4]+".csv")

/tmp/ipykernel_3531674/2633755990.py:11: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

In [17]:
dir0= "/homes/80/kang/cmem/data/01_raw/"
dir1= "/homes/80/kang/cmem/data/01_raw_rolling_mean_15min_bin/"
df = pd.read_pickle(dir0+'GPN.pkl')
d = df[['symbol','date','timeHMs','timeHMe','qty']]
g = d.groupby('timeHMs')
lst = []
for idx, itm in g:
    pass
    value = itm.shift(1).rolling(5).mean()
    # itm.shift(-1).rolling(5).mean()
    value.date = itm.date
    lst.append(value)
f = pd.concat(lst,axis=0)
f['symbol'] = 'GPN'
ff = f.sort_index().dropna()
ff.to_csv(dir1+'GPN'+".csv")

/tmp/ipykernel_3531674/891712038.py:9: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

In [18]:
ff

                         date  timeHMs  timeHMe      qty symbol
groupper
2017-07-12 09:30:00  20170712    930.0    945.0   8025.4    GPN
2017-07-12 09:45:00  20170712    945.0   1000.0   9972.9    GPN
2017-07-12 10:00:00  20170712   1000.0   1015.0   8015.7    GPN
2017-07-12 10:15:00  20170712   1015.0   1030.0   7313.7    GPN
2017-07-12 10:30:00  20170712   1030.0   1045.0  10599.1    GPN
...                       ...      ...      ...      ...    ...
2017-12-29 14:30:00  20171229   1430.0   1445.0   4117.5    GPN
2017-12-29 14:45:00  20171229   1445.0   1500.0   5988.8    GPN
2017-12-29 15:00:00  20171229   1500.0   1515.0   8079.5    GPN
2017-12-29 15:15:00  20171229   1515.0   1530.0   8459.0    GPN
2017-12-29 15:30:00  20171229   1530.0   1545.0   7727.0    GPN

[3092 rows x 5 columns]

In [10]:
f.sort_index()

                         date  timeHMs  timeHMe     qty  symbol
groupper
2017-07-05 09:30:00  20170705      NaN      NaN     NaN     NaN
2017-07-05 09:45:00  20170705      NaN      NaN     NaN     NaN
2017-07-05 10:00:00  20170705      NaN      NaN     NaN     NaN
2017-07-05 10:15:00  20170705      NaN      NaN     NaN     NaN
2017-07-05 10:30:00  20170705      NaN      NaN     NaN     NaN
...                       ...      ...      ...     ...     ...
2017-12-29 14:30:00  20171229   1430.0   1445.0  4117.5     NaN
2017-12-29 14:45:00  20171229   1445.0   1500.0  5988.8     NaN
2017-12-29 15:00:00  20171229   1500.0   1515.0  8079.5     NaN
2017-12-29 15:15:00  20171229   1515.0   1530.0  8459.0     NaN
2017-12-29 15:30:00  20171229   1530.0   1545.0  7727.0     NaN

[3223 rows x 5 columns]

In [3]:
df

,symbol,date,timeHMs,timeHMe,intrSn,ntn,volBuyNotional,volSellNotional,nrTrades,ntr,volBuyNrTrades_lit,volSellNrTrades_lit,volBuyQty,volSellQty,qty,VO,vwap_price
groupper,,,,,,,,,,,,,,,,,
2017-07-05 09:30:00,GPN,20170705,930.0,945.0,0.0,524385.5,226116.5,209795.0,129.0,55.0,25.0,27.5,2500.0,2322.5,5799.5,106.940253,9.045939e+05
2017-07-05 09:45:00,GPN,20170705,945.0,1000.0,0.0,1079905.5,421766.5,617973.0,124.0,128.0,36.5,85.0,4688.0,6864.5,12001.5,8.878057,8.994650e+05
2017-07-05 10:00:00,GPN,20170705,1000.0,1015.0,1.0,1171871.0,520485.0,474041.0,66.0,122.5,45.5,62.5,5805.5,5286.0,13067.0,-16.442183,8.967671e+05
2017-07-05 10:15:00,GPN,20170705,1015.0,1030.0,1.0,978295.5,375983.5,521809.0,127.0,145.0,69.5,80.0,4198.0,5825.0,10918.5,-2.330906,8.959723e+05
2017-07-05 10:30:00,GPN,20170705,1030.0,1045.0,1.0,957767.0,486370.0,417021.0,106.0,105.0,66.0,50.5,5415.5,4642.0,10664.0,11.313766,8.986915e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-29 14:30:00,GPN,20171229,1430.0,1445.0,1.0,552712.5,196917.0,86521.0,125.0,69.5,23.5,32.0,1959.0,860.5,5498.5,60.407384,1.005359e+06
2017-12-29 14:45:00,GPN,20171229,1445.0,1500.0,1.0,886252.5,205292.0,148455.0,160.5,97.5,35.5,28.5,2043.0,1477.0,8820.0,5.685941,1.004964e+06
2017-12-29 15:00:00,GPN,20171229,1500.0,1515.0,1.0,936737.0,283212.5,252016.0,83.0,118.0,48.0,39.5,2819.0,2507.5,9321.5,-5.626777,1.004760e+06
2017-12-29 15:15:00,GPN,20171229,1515.0,1530.0,1.0,884329.5,274666.0,312370.5,110.0,129.5,44.0,36.0,2733.0,3107.0,8797.0,51.324315,1.004914e+06
2017-12-29 15:30:00,GPN,20171229,1530.0,1545.0,2.0,1338691.5,732802.5,528027.5,96.5,162.5,84.5,74.5,7287.5,5250.5,13312.0,44.151893,1.005675e+06

In [ ]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0= "/homes/80/kang/cmem/data/01_raw/"
dir1= "/homes/80/kang/cmem/data/01_raw_rolling_mean_15min_bin/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
from tqdm import tqdm
for i in tqdm(range(len(onlyFiles))):
    
    name = onlyFiles[i]
    df = pd.read_pickle(dir0+name)
    d = df[['symbol','date','timeHMs','timeHMe','qty']]
    g = d.groupby('timeHMs')
    lst = []
    for idx, itm in g:
        pass
        value = itm.shift(1).rolling(5).mean()
        # itm.shift(-1).rolling(5).mean()
        value.date = itm.date
        lst.append(value)
    # itm.qty[:5].mean()
    f = pd.concat(lst,axis=0)
    f['symbol'] = name[:-4]
    ff = f.sort_index().dropna()
    ff.to_csv(dir1+name[:-4]+".csv")

In [2]:
from os import listdir
from os.path import isfile, join
import pandas as pd
dir0= "/homes/80/kang/cmem/data/01_raw/"
dir1= "/homes/80/kang/cmem/data/01_raw_rolling_mean_15min_bin/"
onlyFiles = sorted([f for f in listdir(dir0) if isfile(join(dir0, f))])
for i in range(len(onlyFiles)):
    print(i)
    name = onlyFiles[i]
    df = pd.read_pickle(dir0+name)
    d = df[['symbol','date','timeHMs','timeHMe','qty']]
    g = d.groupby('timeHMs')
    lst = []
    for idx, itm in g:
        pass
        value = itm.shift(1).rolling(5).mean()
        # itm.shift(-1).rolling(5).mean()
        value.date = itm.date
        lst.append(value)
    # itm.qty[:5].mean()
    f = pd.concat(lst,axis=0)
    ff = f.sort_index().dropna()
    ff['symbol'] = name[:-4]
    ff.to_csv(dir1+name[:-4]+".csv")

0
1

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

2
3

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

4
5

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

6
7

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

8
9

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

10
11

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

12
13

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

14
15

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

16
17

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

18
19

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

20
21

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

22
23

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

24
25

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

26
27

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

28
29

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

30
31

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

32
33

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

34
35

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

36
37

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

38
39

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

40
41

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

42
43

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

44
45

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

46
47

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

48
49

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

50
51

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

52
53

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

54
55

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

56
57

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

58
59

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

60
61

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

62
63

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

64
65

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

66
67

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

68
69

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

70
71

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

72
73

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

74
75

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

76
77

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

78
79

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

80
81

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

82
83

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

84
85

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

86
87

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

88
89

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

90
91

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

92
93

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

94
95

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

96
97

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

98
99

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

100
101

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

102
103

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

104
105

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

106
107

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

108
109

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

110
111

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

112
113

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

114
115

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

116
117

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

118
119

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

120
121

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

122
123

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

124
125

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

126
127

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

128
129

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

130
131

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

132
133

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

134
135

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

136
137

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

138
139

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

140
141

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

142
143

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

144
145

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

146
147

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

148
149

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

150

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

151
152

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

153
154

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

155
156

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

157
158

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

159
160

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

161
162

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

163
164

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

165
166

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

167
168

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

169
170

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

171
172

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

173
174

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

175
176

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

177
178

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

179
180

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

181
182

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

183
184

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

185
186

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

187
188

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

189
190

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

191
192

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

193
194

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

195
196

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

197
198

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

199
200

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

201
202

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

203
204

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

205
206

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

207
208

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

209
210

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

211
212

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

213
214

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

215
216

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

217
218

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

219
220

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

221
222

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

223
224

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

225
226

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

227
228

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

229
230

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

231
232

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

233
234

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

235
236

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

237
238

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

239
240

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

241
242

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

243
244

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

245
246

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

247
248

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

249
250

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

251
252

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

253
254

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

255
256

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

257
258

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

259
260

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

261
262

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

263
264

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

265
266

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

267
268

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

269
270

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

271
272

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

273
274

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

275
276

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

277
278

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

279
280

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

281
282

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

283
284

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

285
286

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

287
288

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

289
290

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

291
292

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

293
294

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

295
296

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

297
298

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

299
300

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

301
302

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

303
304

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

305
306

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

307
308

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

309
310

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

311
312

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

313
314

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

315
316

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

317
318

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

319
320

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

321
322

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

323
324

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

325
326

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

327
328

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

329
330

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

331
332

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

333
334

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

335

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

336
337

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

338
339

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

340
341

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

342
343

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

344
345

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

346
347

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

348
349

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

350
351

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

352
353

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

354
355

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

356
357

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

358
359

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

360
361

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

362
363

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

364
365

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

366
367

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

368
369

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

370
371

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

372
373

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

374
375

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

376
377

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

378
379

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

380
381

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

382
383

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

384
385

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

386
387

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

388
389

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

390
391

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

392
393

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

394
395

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

396
397

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

398
399

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

400
401

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

402
403

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

404
405

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

406
407

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

408
409

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

410
411

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

412
413

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

414
415

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

416
417

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

418
419

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

420
421

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

422
423

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

424
425

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

426
427

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

428
429

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

430
431

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

432
433

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

434
435

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

436
437

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

438
439

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

440
441

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

442
443

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

444
445

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

446
447

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

448
449

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

450
451

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

452
453

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

454
455

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

456
457

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

458
459

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

460
461

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

462
463

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

464
465

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

466
467

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

468
469

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

470
471

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

472
473

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

474
475

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

476
477

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

478
479

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

480
481

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

482
483

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

484
485

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

486
487

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

488
489

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

490
491

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

492
493

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

494
495

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()
/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()

496

/tmp/ipykernel_680050/1747786216.py:16: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['symbol'], dtype='object')
  value = itm.shift(1).rolling(5).mean()